<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<div class="container">
  <div class="row" id="news-container">
  </div>
</div>

{{#if user}}
  <ul>
    {{#each cyber}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
{{/if}}