<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<div class="container">
  <div class="row" id="news-container">
  </div>
</div>
{{#if user}}
  <ul>
    <li>{{cyber.name}}</li>
  </ul>
{{/if}}

{{!-- {{#each cyber}}
  <li>{{cyber.name}}</li>
{{/each}} --}}