<h1>Do a book in  {{cyber.name}}</h1>
<form action="/cyber/{{cyber.id}}/book" method="POST">
  <div class="form-group">
    <label for="name">Date of the reservation</label>
    <input type="datetime-local" class="form-control" id="name" name="date" required />
  </div>
  <div class="form-group">
    <label for="description">Participants</label>
    <input type="number" class="form-control" id="username" name="participants">
  </div>

  <button type="submit" class="btn btn-dark btn-block" id="create-btn">Create it</button>
</form>
