<div class="container" id="cyber-book">

  <div class="row justify-content-center">
    <div class="col-md-7">
        <h1>Do a book in  {{cyber.name}}</h1>
        <form action="/cyber/{{cyber.id}}/book" method="POST">
          <div class="form-group">
            <label for="name">Date of the reservation</label>
            <input type="datetime-local" class="form-control" id="name" name="date" required />
          </div>
          <div class="form-group">
            <label for="description">Participants</label>
            <input type="number" class="form-control" id="username" name="participants">
          </div>
          <button type="submit" class="btn btn-dark btn-block mt-5" id="edit-btn">Book a Pc in {{cyber.name}}</button>
        </form>
    </div>
  </div>
</div>