* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 50px;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(80, 9, 147, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

nav a {
  color: white;
}
img {
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: #8e2fe7;
}

a {
  color: white;
}

h1 {
  color: 15px;
}

nav {
  background-color: black;
}

input {
  color: black;
}

#searchInput {
  margin-top: 10px;
  height: 40px;
  width: 40%;
}

#map {
  height: 450px;
  width: 80%;
}

#mapIndex {
  height: 450px;
  margin-left: 200px;
}

#MapBusiness {
  height: 500px;
  margin-left: 200px;
}

#MapProfile {
  height: 500px;
  margin: 0 auto;
}

#mapDetails {
  height: 450px;
  width: 80%;
}

#mapIndex,
#MapBusiness,
#MapProfile {
  color: black;
}

#mapIndex a,
#MapBusiness a,
#MapProfile a {
  color: black;
}

#editMapDetails {
  height: 450px;
  width: 80%;
}

#Cyber-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-img {
  border-radius: 50%;
  width: 25px;
}

#user-img-profile {
  border-radius: 50%;
  width: 20%;
}

#card-cyber {
  transition: transform 0.2s;
  background-color: rgb(247, 247, 247);
  border: none;
}

#card-cyber:hover {
  text-decoration: none;
  transform: scale(1.05);
  border: 3px solid green;
}

#card-cyber a {
  color: black;
}

#card-cyber p {
  color: black;
}

#all-cyber-section {
  margin-top: 20px;
}

#img-space {
  padding: 0%;
}

.cyber-details {
  margin: 100px;
}

.cyber-details a {
  margin: 50px;
}

.cyber-details button {
  margin: 50px;
}

.cyber-details-buttons {
  justify-content: center;
}

#news-container {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

#news-container a {
  color: black;
}

#news-container div {
  transition: transform 0.2s;
}

#news-container div:hover {
  text-decoration: none;
  transform: scale(0.9);
}

#inicial-section {
  color: white;
  padding-top: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(27, 27, 27) 0%,
    rgba(80, 9, 147, 1) 100%
  );
}

#inicial-logo {
  margin: 100px 0;
  transition: transform 0.2s;
  animation: latidos 3s infinite;
  transform-origin: center;
}

#second-section {
  padding-top: 50px;
  color: white;
  background: rgb(80, 9, 147);
  background: linear-gradient(
    180deg,
    rgba(80, 9, 147, 1) 0%,
    rgb(0, 0, 0) 100%
  );
}

#second-section img {
  height: 80%;
  width: 80%;
  margin: 0 10%;
  border-radius: 10px;
}

#text-second-section {
  margin-left: 100px;
}

#third-section {
  color: white;
  padding-bottom: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(80, 9, 147, 1) 100%
  );
}
#third-section h1 {
  padding-bottom: 50px;
}

#third-section a:hover {
  color: (27, 27, 27);
}

.quarter-section {
  padding: 75px 0;
  background: rgb(79, 9, 145);
  background: linear-gradient(
    180deg,
    rgba(79, 9, 145, 1) 0%,
    rgba(10, 2, 22, 1) 100%
  );
}

.quarter-section-full {
  padding: 75px 0;
  background: rgb(36, 4, 69);
  background: linear-gradient(
    180deg,
    rgba(36, 4, 69, 1) 0%,
    rgba(10, 2, 21, 1) 100%
  );
}

#calendar-section {
  padding: 100px 0;
  background: rgb(79, 9, 145);
  background: linear-gradient(
    180deg,
    rgba(79, 9, 145, 1) 0%,
    rgba(36, 5, 68, 1) 100%
  );
}

footer {
  color: white;
  background: rgb(8, 1, 16);
  background: linear-gradient(
    180deg,
    rgba(8, 1, 16, 1) 0%,
    rgba(80, 9, 147, 1) 100%
  );
}

#signup-frame,
#login-frame,
#visit-profile-frame {
  padding-bottom: 500px;
}

#visit-profile-frame,
#profile-frame {
  padding-top: 100px;
}

#calendar {
  color: black;
  border-radius: 10px;
  background-color: white;
  max-width: 1100px;
  height: 500px;
  margin: 0 auto;
  padding: 2%;
}

#calendar a {
  color: black;
}

#news-card {
  height: 475px;
}
#news-img {
  height: 200px;
}
#profile-edit {
  padding: 200px 0;
}
#img-form {
  color: white;
}
#cyber-edit {
  padding-top: 50px;
}
#edit-btn{
  width: 40%;
  margin: 0 auto;
}
#create-btn{
  width: 40%;
  margin: 0 auto;
}
#cyber-book{
  padding-top: 100px;
  padding-bottom:300px
}
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
